<div>
	<div class="modal-header">
		<h3 class="modal-title justify-content-center">{{ title | translate }}</h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
	</div>
	<div class="modal-body">
		<p>{{ contentBody | translate }}</p>
		<p>
			Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
			quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
		</p>
		<p>
			Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
			rutrum faucibus dolor auctor.
		</p>
		<p>
			Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
			consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
		</p>
		<p>
			Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
			quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
		</p>
		<p>
			Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
			rutrum faucibus dolor auctor.
		</p>
		<p>
			Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
			consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
		</p>
		<p>
			Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
			quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
		</p>
		<p>
			Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
			rutrum faucibus dolor auctor.
		</p>
		<p>
			Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
			consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
		</p>
		<p>
			Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
			quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
		</p>
		<p>
			Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
			rutrum faucibus dolor auctor.
		</p>
		<p>
			Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
			consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
		</p>
		<p>
			Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
			quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
		</p>
		<p>
			Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
			rutrum faucibus dolor auctor.
		</p>
		<p>
			Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
			consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
		</p>
		<p>
			Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
			quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
		</p>
		<p>
			Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
			rutrum faucibus dolor auctor.
		</p>
		<p>
			Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
			consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
		</p>
		<p>Technologies:</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
	</div>
</div>
