<div class="container bg-success justify-content-center">

        <div class="col-sm-3 m-2 card bg-white text-center">
            <div class="card-header"><h3>Column 1</h3></div>
            <div class="card-body"> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p></div>
        </div>
        <div class="col-sm-3 card m-2 text-center">
            <div class="card-header"><h3>Column 2</h3></div>
            <div class="card-body"> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p></div>
        </div>
        <div class="col-sm-3 card m-2 bg-secondary text-center">
            <div class="card-header"><h3>Column 3</h3></div>
            <div class="card-body"> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p></div>
        </div>
        <div class="col-sm-3 card m-2 bg-secondary text-center">
            <div class="card-header"><h3>Column 3</h3></div>
            <div class="card-body"> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p></div>
        </div>
        <div class="col-sm-3 card m-2 bg-secondary text-center">
            <div class="card-header"><h3>Column 3</h3></div>
            <div class="card-body"> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p></div>
        </div>
        <div class="col-sm-3 card m-2 bg-secondary text-center">
            <div class="card-header"><h3>Column 3</h3></div>
            <div class="card-body"> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p></div>
        </div>
</div>
